body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8c8dc;
}

.header_text {
    font-family: "Nunito";
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

a {
    font-family: "Nunito";
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: 25px;
    margin-bottom: 0px;
    position: absolute;
    text-align: center;
    margin-left: 125px;
    text-decoration-line: none;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
